/* Write your CSS code here */
.buttons-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.website-logo {
  height: 35px;
  width: 170px;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
.nav-menu-item {
  font-family: 'Roboto';
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #475569;
}
.shop-now-button {
  width: 100px;
  font-size: 10px;
  font-weight: 300;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;

  border-radius: 3px;
  background-color: #0967d2;
  cursor: pointer;
  outline: none;
}
ul {
  list-style-type: none;
}
li {
  margin: 5px;
}
.header-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginform-con {
  display: flex;
}

 {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
}
